<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/main" class="icon-back" name="arrow-back-outline"></ion-icon>
    <ion-title class="txt-head">พระประจำวันเกิด ทั้งเจ็ดวัน</ion-title>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content class="bg">
  <!-- <ion-card class="card"> -->
    <ion-row>
      <ion-col class="col">
        <ion-button routerLink="/sunday" class="bt" shape="round"
          >วันอาทิตย์</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col">
        <ion-button routerLink="/monday" class="bt-sunday" shape="round"
          >วันจันทร์</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col">
        <ion-button routerLink="/tuesday" class="bt-sunday" shape="round"
          >วันอังคาร</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col">
        <ion-button routerLink="/wednesday" class="bt-sunday" shape="round"
          >วันพุธ</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col">
        <ion-button routerLink="/thursday" class="bt-sunday" shape="round"
          >วันพฤหัสบดี</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col">
        <ion-button routerLink="/friday" class="bt-sunday" shape="round"
          >วันศุกร์</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col">
        <ion-button routerLink="/saturday" class="bt-sunday" shape="round"
          >วันเสาร์</ion-button
        >
      </ion-col>
    </ion-row>
  <!-- </ion-card> -->
</ion-content>
