<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/birthday" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">พระประจำวันเกิด วันอาทิตย์</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/1.jpg" />
        </ion-card>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันอาทิตย์</p> 
          <p class="txt">: พระประจำวันอาทิตย์ ได้แก่ ปางถวายเนตร</p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปที่อยู่ในพระอริยาบถยืน ลืมพระเนตรทั้งสองเพ่งไปข้างหน้า
            พระหัตถ์ทั้งสองห้อยลงมาประสานกันอยู่ระหว่างพระเพลา (ตัก) พระหัตถ์ขวาซ้อนเหลื่อมพระหัตถ์ซ้าย
            อยู่ในพระอาการสังวรทอดพระเนตรดูต้นพระศรีมหาโพธิ์</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: เมื่อครั้งพระบรมศาสดาได้ตรัสรู้พระอนุตรสัมมาสัมโพธิญาณแล้ว
            ก็ได้ประทับเสวยวิมุตติสุข (สุขอันเกิดจากความสงบ) อยู่ใต้ต้นพระศรีมหาโพธิ์
            เป็นระยะเวลา 7 วัน จากนั้นได้เสด็จไปประทับยืน ณ ที่กลางแจ้งทางทิศอีสาน
            ของต้นพระศรีมหาโพธิ์ ทอดพระเนตรต้นพระศรีมหาโพธิ์โดยไม่กระพริบพระเนตรเลย
            ตลอดระยะเวลา 7 วัน ซึ่งสถานที่ประทับยืนนี้ได้มีนามปรากฏว่า   " อนิมิสเจดีย์"  
            มาจนปัจจุบัน เป็นเหตุแห่งการสร้างพระพุทธรูปปางนี้เรียกว่า ปางถวายเนตร
            นิยมสร้างเป็นพระพุทธรูปเพื่อสักการะบูชาประจำของคนเกิดวันอาทิตย์ </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันอาทิตย์</p>
            <p class="txt">อุเทตะยัญจักขุมา เอกะราชา หะริสสะวัณโณ ปะฐะวิปปะภาโส<br>
              ตัง ตัง นะมัสสามิ หะริสสะวัณณัง ปะฐะวิปปะภาสัง ตะยัชชะ<br>
              คุตตา วิหะเรมุ ทิวะสัง เย พ๎ราห๎มะณา เวทะคุ สัพพะธัมเม เต เม<br>
              นะโม เต จะ มัง ปาละยันตุ นะมัตถุ พุทธานัง นะมัตถุ โพธิยา<br>
              นะโม วิมุตตานัง นะโม วิมุตติยา อิมัง โส ปะริตตัง กัต๎วา โมโร จะระติ เอสะนา ฯ<br>  
            </p>
            <p class="txt">อะเปตะยัญจักขุมา เอกะราชา หะริสสะวัณโณ ปะฐะวิปปะภาโส<br>
              ตัง ตัง นะมัสสามิ หะริสสะวัณณัง ปะฐะวิปปะภาสัง ตะยัชชะ<br>
              คุตตา วิหะเรมุ รัตติง เย พ๎ราห๎มะณา เวทะคุ สัพพะธัมเม เต เม<br>
              นะโม เต จะ มัง ปาละยันตุ นะมัตถุ พุทธานัง นะมัตถุ โพธิยา<br>
              นะโม วิมุตตานัง นะโม วิมุตติยา อิมัง โส ปะริตตัง กัต๎วา โมโร วาสะมะกัปปะยีติ ฯ<br>  
            </p>
            <p class="txt_end">สวดวันละ 6 จบ จะมีความรุ่งเรืองและความสุขสวัสดีตลอดกาล</p>
        </ion-card>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>
