<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/main" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">หมายเลขโทรศัพท์ฉุกเฉิน</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="img1">
          <img  src="assets/images/phonenumber.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt">เมื่อต้องออกเดินทาง การเตรียมความพร้อมไว้เสมอ ถือเป็นเรื่องที่มีความสำคัญเป็นอย่างมาก 
            เพราะเราไม่อาจรู้ได้เลยว่าจะมีเหตุการณ์ฉุกเฉินอะไรเกิดขึ้นบ้าง ซึ่งนอกจากการเตรียมพร้อมด้วยการตรวจเช็คสภาพรถก่อนออก
            เดินทางหรือรัดเข็มขัดอย่างปลอดภัยแล้ว อีกสิ่งหนึ่งที่ไม่ควรพลาดเลยก็คือการมีเบอร์ฉุกเฉินเพื่อเอาไว้ใช้ในยามคับขันนั่นเอง</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">191 เหตุด่วนเหตุร้าย</p> 
          <p class="txt">เหตุด่วนเหตุร้าย มักจะเกิดขึ้นได้เสมอ ไม่ว่าจะเป็นอุบัติเหตุบนท้องถนน การถูกโจรกรรมรถ คนร้ายปล้นจี้เอาทรัพย์สิน 
            หรือโดนแก๊งมือบอนขว้างปาก้อนหินใส่รถขณะกำลังขับขี่ ซึ่งในขณะนั้นคุณสามารถที่จะโทรแจ้ง 191 ได้เลย ซึ่งจะเป็นเบอร์ศูนย์กลางในการแจ้งเหตุด่วนเหตุร้าย 
            โดยทางศูนย์จะติดต่อไปยังหน่วยปฏิการในพื้นที่ใกล้เคียงของคุณอย่างรวดเร็ว</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1192 แจ้งรถหาย </p> 
          <p class="txt">ในขณะเดินทาง มักจะเจอกับปัญหารถหายบ่อยๆ โดยเฉพาะเมื่อแวะตามร้านค้าหรือห้างสรรพสินค้าต่าง ๆ หากจอดรถในจุดที่มิจฉาชีพชุม ก็จะทำให้เสี่ยงกับการถูกขโมยรถได้ง่าย ดังนั้นการมีหมายเลขแจ้งรถหายไว้ จึงมีความสำคัญมากทีเดียว</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1669 เจ็บป่วยฉุกเฉิน </p> 
          <p class="txt">มื่อเดินทางท่องเที่ยวไปยังสถานที่ที่ไม่ค่อยคุ้นเคยมากนัก และเกิดอาการเจ็บป่วยกะทันหัน หลายคนอาจจะรู้สึกสับสน กังวลและไม่รู้จะทำอย่างไรดี ส่วนหนึ่งก็เพราะไม่รู้ว่าโรงพยาบาลอยู่ตรงไหนด้วย ไม่ต้องกังวลแค่โทรไปที่หมายเลข 1669 แจ้งอาการป่วยและพิกัดที่อยู่ จะมีเจ้าหน้าที่สาธารณสุขหรือเจ้าหน้าที่จากโรงพยาบาลไปยังจุดที่คุณอยู่ในทันที</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1543 สายตรงทางด่วน  </p> 
          <p class="txt">อุบัติเหตุหรือเหตุฉุกเฉินบนทางด่วน มักจะเกิดขึ้นได้บ่อย ๆ ดังนั้นหมายเลข 1543 สายตรงทางด่วน จึงเป็นอีกหมายเลขที่ควรมีบันทึกไว้ เมื่อต้องเดินทางเช่นกัน</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1197 ข้อมูลการจราจร  </p> 
          <p class="txt">เชื่อว่าคงไม่มีใครที่จะรู้กฎจราจรไปซะทุกข้อ และเมื่อต้องเดินทางไปยังพื้นที่ที่ไม่คุ้นเคย ก็อาจมีกฎการจราจรที่แตกต่างไป โดยคุณสามารถโทรสอบถามได้ที่หมายเลข 1197 นั่นเอง</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">199 ดับเพลิง  </p> 
          <p class="txt">กรณีไฟไหม้รถ มักจะเกิดขึ้นได้เสมอ โดยเฉพาะคนที่มักจะเก็บโทรศัพท์และแบตสำรองไว้ในรถ หรือไม่ในเส้นทางที่คุณกำลังเดินทางไป ก็อาจจะกำลังมีเหตุไฟไหม้ ซึ่งคุณควรมีเบอร์ 199 ดับเพลิงเอาไว้ เพื่อใช้โทรตามนักดับเพลิงมาช่วยเหลือได้ทัน</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1193 ตำรวจทางหลวง  </p> 
          <p class="txt">เมื่อมีเหตุด่วนเหตุร้ายบนทางหลวง การติดต่อไปยังตำรวจทางหลวงโดยตรงจะมีความรวดเร็วในการช่วยเหลือมากกว่า ซึ่งสามารถติดต่อไปได้ที่หมายเลข 1193 ตำรวจทางหลวง</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1146 กรมทางหลวงชนบท  </p> 
          <p class="txt">หมายเลข 1146 กรมทางหลวงชนบท เป็นหมายเลขสำหรับแจ้งเหตุเมื่อคุณกำลังขับรถอยู่บนเส้นทางของทางหลวงชนบท ซึ่งจะได้รับความช่วยเหลือได้เร็วกว่าการแจ้งตำรวจทางหลวงนั่นเอง</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1554 หน่วยกู้ชีพ วชิรพยาบาล </p> 
          <p class="txt">เมื่อเกิดอุบัติเหตุ มีคนบาดเจ็บ ควรติดต่อไปที่ 1554 หน่วยกู้ชีพ วชิรพยาบาล แล้วคุณจะได้รับความช่วยเหลืออย่างรวดเร็ว</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1155 ตำรวจท่องเที่ยว  </p> 
          <p class="txt">หากเกิดเหตุฉุกเฉินขณะเดินทางท่องเที่ยว จะมีตำรวจที่คอยรับเรื่องเฉพาะ ซึ่งสามารถติดต่อเข้าไปที่หมายเลขนี้ได้เลย</p>
        </ion-card>
      </ion-col>
    </ion-row>

        



  </ion-grid>

</ion-content>
