<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/birthday" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">พระประจำวันเกิด วันจันทร์</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/2.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันจันทร์</p> 
          <p class="txt">: พระประจำวันจันทร์ ได้แก่ ปางห้ามญาติ หรือ ห้ามสมุทร</p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปอยู่ในพระอริยาบถยืน ยกพระหัตถ์ทั้งสอง
            ยกขึ้นเสมอพระอุระ(อก) ตั้งฝ่าพระหัตถ์ยื่นออกไปข้างหน้าเป็นกิริยาห้าม
            เป็นปางเดียวกันกับปางห้ามสมุทร ต่างกันตรงที่ปางห้ามญาติจะยกมือขวา
            ขึ้นห้ามเพียงมือเดียว ส่วนปางห้ามสมุทรจะยกมือทั้งสองขึ้นห้าม
            แต่ส่วนใหญ่มักจะนิยมสร้างเป็นปางห้ามญาติ และนิยมทำเป็นแบบพระทรงเครื่อง</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: ปางห้ามญาติเกิดขึ้นเนื่องจากพระญาติฝ่ายพุทธบิดาคือกรุงกบิลพัสดุ์ และพระญาติฝ่ายพุทธมารดา คือ
            กรุงเทวทหะ ซึ่งอาศัยอยู่บนคนละฝั่งของแม่น้ำโรหิณี เกิดทะเลาะวิวาทแย่งน้ำเพื่อไปเพาะปลูกกันขึ้น
            ถึงขนาดจะยกทัพทำสงครามกันเลยทีเดียว พระพุทธองค์จึงต้องเสด็จไปเจรจาห้ามทัพ คือ ห้ามพระญาติมิให้ฆ่าฟันกัน
            
            ส่วนปางห้ามสมุทรเป็นพุทธประวัติ ตอนเสด็จไปโปรดพวกชฎิล
            (นักบวชประเภทหนึ่งที่นุ่งห่มหนังเสือ และนิยมบูชาไฟ) 3 พี่น้อง
            ได้แก่ อุรุเวลกัสสปะ นทีกัสสปะ และคยากัสสปะ ที่ตั้งตัวเป็นใหญ่
            อยู่ริมฝั่งแม่น้ำเนรัญชราพร้อมบริวาร 1,000 คน โดยได้แสดงพุทธปาฏิหาริย์
            หลายอย่างเพื่อทำลายทิฎฐิมานะของชฎิลทั้งหลาย เช่น ห้ามลม ห้ามฝน ห้ามพายุ
            และห้ามน้ำท่วมที่เจิ่งนองตลิ่งมิให้มาต้องพระวรกายได้ อีกทั้งยังสามารถเดินจงกรม
            อยู่ใต้พื้นน้ำได้ ทำให้พวกชฎิลเห็นเป็นที่อัศจรรย์ และยอมบวชเป็นพุทธสาวก </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันจันทร์</p>
            <p class="txt">ยันทุนนิมิตตัง อะวะมังคะลัญจะ โย จามะนาโป สะกุณัสสะ สัทโธ<br>
              ปาปัคคะโห ทุสสุปินัง อะกันตัง พุทธานุภาเวนะ วินาสะเมนตุ ฯ
            </p>
            <p class="txt">อะเปตะยัญจักขุมา เอกะราชา หะริสสะวัณโณ ปะฐะวิปปะภาโส<br>
              ปาปัคคะโห ทุสสุปินัง อะกันตัง ธัมมานุภาเวนะ วินาสะเมนตุ ฯ            
            </p>
            <p class="txt">ยันทุนนิมิตตัง อะวะมังคะลัญจะ โย จามะนาโป สะกุณัสสะ สัทโธ<br>
              ปาปัคคะโห ทุสสุปินัง อะกันตัง สังฆานุภาเวนะ วินาสะเมนตุ ฯ 
            </p>
            <p class="txt_end">สวดวันละ 15 จบ จะมีความสุข ความเจริญปราศจากโรคาพยาธิทั้งปวง</p>
        </ion-card>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>
