<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/main" class="icon-back" name="arrow-back-outline"></ion-icon>
    <ion-title class="txt-head">อานิสงส์จากการสวดมนต์</ion-title> 
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/images/สวดมนต์.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">1.สวดมนต์เพื่อถวายเป็นพุทธบูชาเป็นบุญที่ได้กล่าวคำศักดิ์สิทธิ์ที่พระพุทธเจ้าบัญญัติไว้</p> 
          <p class="txt">บทสวดพุทธมนต์นั้น มาจากพระโอษฐ์ของพระเจ้าที่ได้ทรงสอนสั่งสาวกและมีการจำและท่องสืบกันมา 
            จนถึงมีการจดบันทึกไว้ในพระไตรปิฎก ผู้ที่ได้มีโอกาสสวดมนต์ในชีวิต เป็นการเปล่งคำศักดิ์สิทธิ์ถวายเป็นพุทธเจ้า 
            เป็นการบูชาพระพุทธเจ้าและย่อมได้บุญกุศล</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">2.เกิดผลดีต่อร่างกาย</p> 
          <p class="txt">คนที่สวดมนต์เป็นประจำนั้น ทางการแพทย์สมัยใหม่รับรองแล้วว่า การสวดมนต์ทำให้เกิดความสุขได้จริงในจิตใจ 
            ส่งผลต่อร่างกายให้หลั่งสารความสุขออกมา ร่างกายก็จะแข็งแรง ใบหน้าสดใส ครูบาอาจารย์ในสมัยโบราณถึงปัจจุบันทราบถึงเคล็ดลับลับสำคัญ 
            ให้สังเกตว่าท่านจะมีอายุยืนมาก และบรรพบุรุษของเรานั้น ท่านสวดมนต์เป็นประจำอายุท่านจึงยืนยาว ไม่เหมือนคนในปัจจุบันที่ห่างเหินการสวดมนต์มาก 
            อายุจึงสั้น</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">3.เป็นการบำเพ็ญภาวนาอย่างหนึ่ง</p> 
          <p class="txt">ทำให้มีสมาธิจิตใจ แจ่มใส การสวดมนต์เป็นการสร้างสมาธิวิธีการหนึ่ง เมื่อจิตที่มีสมาธิย่อมแจ่มใส มีกำลัง 
            คิดอ่านแก้ไขปัญหาอะไรก็จะทำได้ง่ายเพราะมีสติกำกับอยู่</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">4.เป็นที่โปรดโปรนของเหล่าเทพเทวดาและดวงจิตวิญญาณทั้งปวง</p> 
          <p class="txt">แม้ผู้ใดไม่ว่าจะเป็นพรหมเทพเทวดา สรรพสัตว์ทั้งหลาย ดวงจิตวิญญาณทั้งหลาย เมื่อได้ยินบทสวดนั้นจะพบกับความเย็นสบาย 
            คลายทุกข์ ทำให้นิยมชมชอบคนที่สวดด้วย 
            และเมื่อยินก็จะช่วยปกป้องรักษาคนที่สวด</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">5.เกิดบุญจากการแผ่เมตตา</p> 
          <p class="txt">เมื่อสวดมนต์เสร็จสิ้น มีการแผ่เมตตาแก่ตนเองและเหล่าสรรพสัตว์ย่อมเกิดอานิสงส์บุญเกิดขึ้น</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">6.ได้รับพรจากสิ่งศักดิ์สิทธิ์</p> 
          <p class="txt">คนที่สวดมนต์เป็นประจำนั้นย่อมได้รับการอวยพรจากสิ่งศักดิ์สิทธิ์เสมอ เพราะเป็นผู้สร้างกรรมดีจากการสวดมนต์และแผ่เมตตา</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">7.สร้างสิริมงคลต่อตนเอง</p> 
          <p class="txt">และครอบครัว ปัดเป่าภัยพิภัย โรคร้ายได้จริง ทุกบทสวดมนต์นั้นมาจากอักขระที่ศักดิ์สิทธิ์ มีอำนาจดลบันดาลให้สิ่งอัปมงคลนั้นออกไปจากชีวิต 
            และสร้างสิริมงคลให้กับคนที่สวด ยิ่งสวดมากก็จะมีสิริมงคลมากขึ้น ทำอะไรก็สำเร็จโดยง่าย</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">8.สามารถแผ่บุญไปช่วยผู้อื่นที่เดือดร้อนได้</p> 
          <p class="txt">บทสวดมนต์ทุกบทนั้น สมารถแผ่บุญกุศลไปช่วยผู้อื่นที่เดือดร้อนได้ทุกเรื่อง ยิ่งเป็นสายเลือดเดียวกันจะยิ่งเร็วขึ้น 
            เพราะมีทั้งบุญและกรรมผูกพันกันมา อานิสงส์ที่ดังที่กล่าวมาข้างต้นคงพอจะทำให้ทุกท่านเข้าใจ เรื่อง อานิสงส์ หรือ ประโยชน์ที่จะรับจากการสวดมนต์ไหว้พระ 
            นั่งสมาธิ ตลอดจนการแผ่เมตตาเป็นอย่างดีแล้วอย่างไรก็ดีนี่เป็นเพียงประโยชน์เบื้องต้นเท่านั้นความจริงแล้วมีอานิสงส์ที่จะได้รับทางอ้อมทางลึกอีกมากมายกว่านี้นักแต่เป็น "ปัจจัตตัง" 
            หรือรู้ได้เฉพาะตัวของแต่ละคนไป โปรดจำไว้เสมอว่า ธรรมะของพระพุทธเจ้านั้นต้องปฏิบัติเองถึงจะได้</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">9.เป็นพื้นฐานไปสู่การก่อนปฏิบัติวิปัสสนากรรมฐานชั้นสูงต่อไป</p> 
          <p class="txt">เมื่อทุกท่านทราบถึงการที่จะต้องทำอย่างไรก่อนถึงจะเริ่มต้นการสวดมนต์ ที่ครบถ้วนทุกประการแล้ว ต่อไปนี้จะขอนำทุกท่านพบกับวิธีการสวดให้ชีวิตดี 
            สวดให้สุข สวดให้รวย กันในลำดับต่อไป</p>
        </ion-card>
      </ion-col>
    </ion-row>











  </ion-grid>

</ion-content>
