<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Kanit:wght@100;200&display=swap" rel="stylesheet">


<ion-content class="bg">
  
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="bt">
          <ion-menu-button class="bt-menu" ></ion-menu-button>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="txt-head">แนะนำสถานที่ท่องเที่ยว</div> 
      </ion-col>
    </ion-row>
   
    <ion-row >
      <ion-col class="firstrow">
        <ion-card class="card" routerLink="/doisuthep">
          <ion-avatar  class="img"><img src="..\assets\images\doisuthep\วัดพระธาตุ.jpg">
          </ion-avatar><div class="txt">วัดพระธาตุดอยสุเทพ</div>
        </ion-card>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/phrasingh">
          <ion-avatar class="img"><img src="..\assets\images\วัดพระสิง.jpg"></ion-avatar>
          <div class="txt">วัดพระสิงห์วรมหาวิหาร</div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/photharam">
          <ion-avatar class="img"><img src="..\assets\images\วัดโพธา.jpg"></ion-avatar>
          <div class="txt">วัดโพธารามมหาวิหาร</div>
        </ion-card>
       </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/chedi">
          <ion-avatar class="img"><img src="..\assets\images\วัดเจดี.jpg"></ion-avatar>
          <div class="txt">วัดเจดีย์หลวงวรวิหาร</div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/world">
          <ion-avatar class="img"><img src="..\assets\images\วัดโลก.jpg"></ion-avatar>
          <div class="txt">วัดโลกโมฬี</div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/museum">
          <ion-avatar class="img"><img src="..\assets\images\พิพิธภัณ.jpg"></ion-avatar>
          <div class="txt">พิพิธภัณฑสถานแห่งชาติเชียงใหม่</div>
        </ion-card>
       </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/culturalcenter">
          <ion-avatar class="img"><img src="..\assets\images\ศูนย์วัฒนธรรม.jpg"></ion-avatar>
          <div class="txt">ศูนย์วัฒนธรรมเขียงใหม่</div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/ratchapruek">
          <ion-avatar class="img"><img src="..\assets\images\ราชพฤกษ์.jpg"></ion-avatar>
          <div class="txt">อุทยานหลวงราชพฤกษ์</div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card" routerLink="/wiangkumkam">
          <ion-avatar class="img"><img src="..\assets\images\เวียงกุุมกาม.jpg"></ion-avatar>
          <div class="txt">เวียงกุมกาม</div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="card-end" routerLink="/srisuphan">
          <ion-avatar class="img"><img src="..\assets\images\วัดศรีสุพรรณ.jpg"></ion-avatar>
          <div class="txt">วัดศรีสุพรรณ</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
