.title{
    padding-top: 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.toolbar{
    height: 90px;
    // --background:url('/assets/images/wallpaper.jpg') no-repeat center/cover fixed;
    --background:#272727;
}

.bg-ct {
    // backdrop-filter: blur(10px);
    // --background:url('/assets/images/wallpaper.jpg') no-repeat center/cover fixed;
    --background:#272727;

}

.menu-color {
    color:#ffffff ;
}

.lable{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.item {
    // --background:url('/assets/images/wallpaper.jpg') no-repeat center/cover fixed;
    --background:#272727;

}

