<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/birthday" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">พระประจำวันเกิด วันพุธ</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/4.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันพุธ (กลางวัน)</p> 
          <p class="txt">: พระประจำวันพุธ (กลางวัน) ได้แก่ ปางอุ้มบาตร</p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปอยู่ในพระอริยาบถยืน พระหัตถ์ทั้งสองประคองบาตรราวสะเอว)</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: เมื่อพระพุทธเจ้าได้สำแดงอิทธิปาฏิหารย์ เหาะขึ้นไปในอากาศ
            ต่อหน้าพระประยูรญาติทั้งหลาย เพื่อให้พระญาติผู้ใหญ่ได้เห็น และละทิฐิถวายบังคมแล้ว
            จึงได้ตรัสเทศนาเรื่องพระมหาเวสสันดรชาดก ครั้นแล้วพระญาติทั้งหลายก็แยกย้ายกันกลับ
            โดยไม่มีใครทูลอาราธนาฉันพระกระยาหารเช้าในวันรุ่งขึ้น ด้วยเข้าใจผิดคิดว่า พระองค์เป็น
            ราชโอรสและพระสงฆ์ก็เป็นศิษย์ คงต้องฉันภัตตาหารที่จัดเตรียมไว้ในพระราชนิเวศน์เอง
            แต่พระพุทธองค์กลับพาพระภิกษุสงฆ์สาวกเสด็จจาริกไป ตามถนนหลวงในเมืองเพื่อโปรดเวไนยสัตว์
            (ผู้ที่พึงสั่งสอนได้)อันเป็นกิจของสงฆ์ และนับเป็นครั้งแรกที่ชาวเมืองกบิลพัสดุ์ได้มีโอกาสชม
            
             </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันพุธ (กลางวัน)</p>
            <p class="txt">สัพพาสีวิสะชาตีนัง ทิพพะมันตาคะทัง วิยะ<br>
              ยันนาเสติ วิสัง โฆรัง เสสัญจาปิ ปะริสสะยัง<br>
              อาณักเขตตัมหิ สัพพัตถะ สัพพะทา สัพพะปาณินัง<br>
              สัพพะโสปิ นิวาเรติ ปะริตตันตัมภะณามะ เห ฯ
            </p>
            <p class="txt_end">สวดวันละ 17จบจะมีความสุขสวัสดียิ่งๆขึ้นไป</p>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/5.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันพุธ (กลางคืน)</p> 
          <p class="txt">: พระประจำวันพุธ (กลางคืน) ได้แก่ ปางป่าเลไลยก์<br>
            ( ผู้ที่เกิดระหว่างเวลา 18.00 น. ของวันพุธถึง 06.00 น.ของวันพฤหัสบดี
            หรือบางคนก็นับตั้งแต่ 18.00 – 24.00 น.ของวันพุธ (สุดแต่ความเชื่อ))      </p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปอยู่ในพระอริยาบถประทับ (นั่ง) บนก้อนศิลา
            พระบาททั้งสองวางบนดอกบัว พระหัตถ์ซ้ายวางคว่ำบนพระขนุ (เข่า) พระหัตถ์ขวาวางหงาย
            นิยมสร้างช้างหมอบใช้งวงจับกระบอกน้ำ อีกด้านหนึ่งมีลิงถือรวงผึ้งถวาย</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: สำหรับปางนี้กล่าวถึงเมื่อพระพุทธองค์ประทับอยู่ที่เมืองโกสัมพี
            ครั้นนั้นพระภิกษุมีมากรูปด้วยกัน และไม่สามัคคีปรองดอง ไม่อยู่ในพุทธโอวาท ประพฤติตามใจตัว
            พระองค์จึงเสด็จจาริกไปอยู่ตามลำพังพระองค์เดียวในป่าที่ชื่อว่าปาลิไลยกะ
            โดยมีมีพญาช้างเชือกหนึ่งชื่อ   " ปาลิไลยกะ"   เช่นเดียวกัน มีความเลื่อมใสในพระพุทธองค์
            มาคอยปฏิบัติบำรุงและคอยพิทักษ์รักษามิให้สัตว์ร้ายมากล้ำกราย ทำให้พระพุทธองค์เสด็จประทับ
            
            อยู่ในป่านั้นด้วยความสงบสุข และป่านั้นต่อมาก็ได้ชื่อว่า   " รักขิตวัน" ครั้นพญาลิงเห็นพญาช้างทำงาน
            ปรนนิบัติพระพุทธเจ้าด้วยความเคารพ ก็เกิดกุศลจิตทำตามอย่างบ้าง ต่อมาชาวบ้านไปเฝ้าพระพุทธเจ้า
            แต่ไม่พบ และทราบเหตุ ก็พากันตำหนิติเตียน และไม่ทำบุญกับพระเหล่านั้น พระภิกษุเหล่านี้จึงได้สำนึก
            ขอให้พระอานนท์ไปทูลเชิญเสด็จพระพุทธองค์กลับมา ช้างปาลิไลยกะก็มาส่งเสด็จด้วยความเศร้าเสียใจ
            จนหัวใจวายล้มตายไป ด้วยกุศลผลบุญจึงได้ไปเกิดเป็น   " ปาลิไลยกะเทพบุตร"  
            
             </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันพุธ (กลางคืน)</p>
            <p class="txt">กินนุ สันตะระมาโนวะ ราหุ จันทัง ปะมุญจะสิ<br>
              สังวิคคะรูโป อาคัมมะ กินนุ ภีโต ติฏฐะสีติ<br>
              สัตตะธา เม ผะเล มุทธา ชีวันโต นะ สุขัง ละเภ<br>
              พุทธาคาถาภิคิโตมหิ โนเจ มุญเจยะ จันทิมันติ
            </p>
            <p class="txt_end">สวดวันละ 12 จบ จะมีความเจริญสุขสวัสดี</p>
        </ion-card>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>
