<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/birthday" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">พระประจำวันเกิด วันอังคาร</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/3.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันอังคาร</p> 
          <p class="txt">: พระประจำวันอังคาร ได้แก่ ปางโปรดอสุรินทราหู หรือ ปางไสยาสน์ หรือ ปางปรินิพพาน  </p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปอยู่ในพระอริยาบถนอนตะแคงขวา พระบาททั้งสองข้าง
            ซ้อนทับเสมอกัน พระหัตถ์ซ้ายทาบไปตามพระวรกาย พระหัตถ์ขวาตั้งขึ้นรับพระเศียร
            และมีพระเขนย (หมอน) รองรับ บางแบบพระเขนยวางอยู่ใต้พระกัจฉะ (รักแร้)</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: ปางไสยาสน์ หรือบางทีก็เรียก ปางปรินิพพาน เป็นพุทธประวัติตอนที่พระพุทธองค์
            ได้รับสั่งให้พระจุนทะเถระปูอาสนะลงที่ระหว่างต้นรังคู่หนึ่ง แล้วทรงประทับบรมทม
            แบบสีหไสยาส์ ตั้งพระทัยไม่เสด็จลุกขึ้นอีก แต่ก็ยังได้โปรดสุภัททปริพาชกเป็นอรหันต์องค์สุดท้าย
            ก่อนเสด็จดับขันธปรินิพพาน บรรดาพุทธบริษัททั้งหลายพากันเศร้าโศก ร่ำไห้ คร่ำครวญถึงพระองค์
            พระอานนท์และพระอนุรุทธเถระได้แสดงธรรมเพื่อปลอบโยนมหาชน พุทธศาสนิกชนเมื่อรำลึก
            ถึงการเสด็จปรินิพพานของพระองค์ จึงได้สร้างพระพุทธรูปปางนี้ขึ้น เพื่อบูชาพระพุทธองค์
            
             </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันอังคาร</p>
            <p class="txt">ยัสสานุสสะระเณนาปิ อันตะลิกเขปิ ปาณิโน<br>
              ปะติฏฐะมะธิคัจฉันติ ภูมิยัง วิยะ สัพพะทา<br>
              สัพพูปัททะวะชาลัมหา ยักขะโจราทิสัมภะวา<br>
              คะณะนา นะ จะ มุตตานัง ปะริตันตัมภะณามะ เห ฯ
            </p>
            <p class="txt_end">สวดวันละ 8 จบ จะเกิดผลดี</p>
        </ion-card>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>
