<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/birthday" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">พระประจำวันเกิด วันเสาร์</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/8.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันเสาร์</p> 
          <p class="txt">: พระประจำวันเสาร์ ได้แก่ ปางนาคปรก     </p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปอยู่ในพระอริยาบถประทับ (นั่ง)
            ขัดสมาธิ หงายพระหัตถ์ทั้งสองวางซ้อนกันบนพระเพลา (ตัก) พระหัตถ์ขวา
            ซ้อนทับพระหัตถ์ซ้ายเหมือนปางสมาธิ แต่มีพญานาคขนดร่างเป็นวงกลมเป็นพุทธบัลลังก์
            และแผ่พังพานปกคลุมอยู่เหนือพระเศียร</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: มื่อพระพุทธองค์ตรัสรู้ และประทับบำเพ็ญสมาบัติเสวยวิมุตติสุข
            อันเกิดจากความพ้นกิเลสอยู่ ณ อาณาบริเวณที่ไม่ไกลจากต้นพระศรีมหาโพธิ์
            แห่งละ 7 วันนั้น ในสัปดาห์ที่ 3 นี้เอง ก็ได้ไปประทับใต้ต้นมุจลินท์ (ต้นจิก)
            
            ขณะนั้นฝนได้ตกลงมาไม่หยุด พญานาคตนหนึ่งชื่อ "มุจลินท์นาคราช"
            ก็ได้ขึ้นมาแสดงอิทธิฤทธิ์เข้าไปวงขนด 7 รอบ แล้วแผ่พังพานปกพระพุทธเจ้าไว้
            มิให้ฝนตกต้องพระวรกาย เหมือนกั้นเศวตฉัตรถวายพระผู้มีพระภาคเจ้า
            ด้วยความประสงค์มิให้ฝนและลมหนาวสาดต้องพระวรกาย ทั้งป้องกันเหลือบ ยุง บุ้ง ร่าน ริ้น
            และสัตว์เลื้อยคลานทั้งมวลด้วย จนฝนหาย จึงได้แปลงร่างเป็นมาณพเข้าไปเฝ้าพระพุทธองค์
            
             </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันเสาร์</p>
            <p class="txt">ยะโตหัง ภะคินิ อะริยายะ ชาติยา ชาโต<br>
              นาภิชานามิ สัญจิจจะ ปาณัง ชีวิตา โวโรเปตาฯ<br>
              เตนะ สัจเจนะ โสตถิ เต โหตุ โสตถิ คัพภัสสะ ฯ
            </p>
            <p class="txt_end">สวดวันละ 10 จบ จะมีความสุขความเจริญและเกิดความสวัสดีมีมงคลตลอดกาลนาน</p>
        </ion-card>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>
