<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/main" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">บทสวดมนต์</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">คำบูชาพระ</p> 
          <p class="txt">อิมินา สักกาเรนะ ตัง พุทธัง อะภิปูชะยามิ<br>

          อิมินา สักกาเรนะ ตัง ธัมมัง อะภิปูชะยามิ<br>
          
          อิมินา สักกาเรนะ ตัง สังฆัง อะภิปูชะยามิ</p>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">บทสวดมนต์ บูชาพระรัตนตรัย</p> 
          <p class="txt">อะระหัง สัมมาสัมพุทโธ ภะคะวา   พุทธัง ภะคะวันตัง อะภิวาเทมิ ฯ (กราบ)<br>

          สวากขาโต ภะคะวะตา ธัมโม   ธัมมัง นะมัสสามิ ฯ (กราบ)<br>
          
          สุปะฏิปันโน ภะคะวะโต สาวะกะสังโฆ   สังฆัง นะมามิ ฯ (กราบ)</p>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">บทสวดมนต์ นะโมสรรเสริญพระพุทธเจ้า</p> 
          <p class="txt">นะโม ตัสสะ ภะคะวะโต   อะระหะโต   สัมมาสัมพุทธัสสะ<br>

            นะโม ตัสสะ ภะคะวะโต   อะระหะโต   สัมมาสัมพุทธัสสะ<br>
          
            นะโม ตัสสะ ภะคะวะโต   อะระหะโต   สัมมาสัมพุทธัสสะ</p>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">บทสวดมนต์ อาราธนาศีล 5</p> 
          <p class="txt">มะยัง ภันเต วิสุง วิสุง รักขะนัตถายะ ติสะระเณนะ สะหะ ปัญจะ สีลานิ ยาจามะ<br>

            ทุติยัมปิ มะยังภันเต วิสุง วิสุง รักขะนัตถายะ ติสะระเณนะ สะหะ ปัญจะ สีลานิ ยาจามะ<br>
          
            ตะติยัมปิ มะยังภันเต วิสุง วิสุง รักขะนัตถายะ ติสะระเณนะ สะหะ ปัญจะ สีลานิ ยาจามะ</p>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">บทสวดมนต์ ไตรสรณคมน์</p> 
          <p class="txt">พุทธัง สะระณัง คัจฉามิ<br>
            ธัมมัง สะระณัง คัจฉามิ<br>
            สังฆัง สะระณัง คัจฉามิ<br>
            ทุติยัมปิ พุทธัง สะระณัง คัจฉามิ<br>
            ทุติยัมปิ ธัมมัง สะระณัง คัจฉามิ<br>
            ทุติยัมปิ สังฆัง สะระณัง คัจฉามิ<br>
            ตะติยัมปิ พุทธัง สะระณัง คัจฉามิ<br>
            ตะติยัมปิ ธัมมัง สะระณัง คัจฉามิ<br>
            ตะติยัมปิ สังฆัง สะระณัง คัจฉามิ<br>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">บทสวดมนต์ สมาทานศีล 5</p> 
          <p class="txt">ปาณาติปาตา เวระมณี สิกขาปะทัง สะมาทิยามิ<br>
            อทินนาทานา เวระมณี สิกขาปะทัง สะมาทิยามิ<br>
            กาเมสุมิจฉาจารา เวระมณี สิกขาปะทัง สะมาทิยามิ<br>
            มุสาวาทา เวระมณี สิกขาปะทัง สะมาทิยามิ<br>
            สุราเมระยะมัชชะปะมาทัฏฐานา เวระมณี สิกขาปะทัง สะมาทิยามิ<br>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">บทสวดมนต์ แผ่เมตตาแก่ตนเอง</p> 
          <p class="txt">กราบพระพุทธ พระธรรม พระสงฆ์<br>
            อะหัง สุขิโต โหมิ ขอให้ข้าพเจ้ามีความสุข<br>
            นิททุกโข โหมิ ปราศจากความทุกข์<br>
            อะเวโร โหมิ ปราศจากเวร<br>
            อัพยาปัชโฌ โหมิ ปราศจากอุปสรรคอันตรายทั้งปวง<br>
            อะนีโฆ โหมิ ปราศจากความทุกข์การทุกข์ใจ<br>
            สุขี อัตตานัง ปะริหะรามิ มีความสุขกายสุขใจรักษาตนให้พ้นจากทุกภัยทั้งสิ้นเถิด<br>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">บทสวดมนต์ แผ่เมตตาให้สรรพสัตว์</p> 
          <p class="txt">สัพเพ สัตตา สัตว์ทั้งหลายที่เป็นเพื่อนทุกข์ เกิดแก่เจ็บตาย ด้วยกันทั้งหมดทั้งสิ้น<br>
            อะเวรา โหนตุ จงเป็นสุขเป็นสุขเถิด อย่าได้มีเวรแก่กันและกันเลย<br>
            อัพะยาปัชฌา โหนตุ จงเป็นสุขเป็นสุขเถิด อย่าได้เบียดเบียนซึ่งกันและกันเลย<br>
            อะนีฆา โหนตุ จงเป็นสุขเป็นสุขเถิด อย่าได้มีความทุกข์กาย ทุกข์ใจเลย<br>
            สุขี อัตตานัง ปะริหะรันตุ จงมีความสุขกาย สุขใจ รักษาตนให้พ้นจากทุกข์ภัยทั้งสิ้นเถิด<br>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>







  </ion-grid>

</ion-content>
