<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/birthday" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">พระประจำวันเกิด วันพฤหัสบดี</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/6.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันพฤหัสบดี</p> 
          <p class="txt">: พระประจำวันพฤหัสบดี ได้แก่ ปางสมาธิ หรือ ปางตรัสรู้</p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปอยู่ในพระอริยาบถประทับ (นั่ง) ขัดสมาธิ
            พระหัตถ์ทั้งสองวางหงายซ้อนกันบนพระเพลา (ตัก) พระหัตถ์ขวาทับพระหัตถ์ซ้าย
            พระชงฆ์ (แข้ง) ขวาทับพระชงฆ์ซ้าย</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: ปางตรัสรู้ คือ ปางที่เจ้าชายสิทธัตถะหรือพระโพธิสัตว์ทรงประทับขัดสมาธิ
            บนบัลลังก์หญ้าคาใต้ต้นมหาโพธิ์ ใกล้ฝั่งแม่น้ำเนรัญชรา และได้ตรัสรู้
            พระสัมมาสัมโพธิญาณเป็นพระสัมมาสัมพุทธเจ้า เมื่อวันเพ็ญขึ้น 15 ค่ำเดือน 6
            ก่อนพุทธศักราช 45 ปี ซึ่งก็ตรงกับวันวิสาขบูชานั่นเอง
            
             </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันพฤหัสบดี</p>
            <p class="txt">ปูเรนตัมโพธิสัมภาเร นิพพัตตัง วัฏฏะชาติยัง<br>
              ยัสสะ เตเชนะ ทาวัคคิ มะหาสัตตัง วิวัชชะยิ<br>
              เถรัสสะ สารีปุตตัสสะ โลกะนาเถนะ ภาสิตัง<br>
              กัปปัฏฐายิ มะหาเตชัง ปะริตตันตัมภะณามะ เห ฯ
            </p>
            <p class="txt_end">สวดวันละ 19 จบ จะมีความสุขความเจริญยิ่งๆ ขึ้นไป</p>
        </ion-card>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>
