<ion-header>
  <ion-toolbar class="toolbar">
    <ion-icon slot="start" routerLink="/srisuphan" class="icon-back" name="arrow-back-outline">
    </ion-icon>
    <ion-lable class="txt-toolbar">วัดศรีสุพรรณ</ion-lable>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="bg" [fullscreen]="true">

  <div #map id="map"></div>
  
  <ion-grid>
    
    <ion-row>
      <ion-col>
        <p class="txt">เช็คอิน วัดศรีสุพรรณ</p>
        <p class="txt">ที่อยู่ : ถนนวัวลาย ตำบล หายยา อำเภอเมืองเชียงใหม่ เชียงใหม่ 50100</p>
        <p class="txt">ผู้ใช้งาน : {{username}}</p>
        <ion-button class="bt-ok" (click)="insertdata()" >เช็คอิน</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
