<ion-header>
  <ion-toolbar class="bg">
    <ion-icon slot="start" routerLink="/birthday" class="icon-back" name="arrow-back-outline"></ion-icon>
    <h2 class="txt-head">พระประจำวันเกิด วันศุกร์</h2>
    <ion-icon slot="end" class="icon-bookmark" name="bookmarks-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="img">
          <img  src="assets/images/buddha_statue/7.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <p class="txt_head_chant">ผู้ที่เกิดวันศุกร์</p> 
          <p class="txt">: พระประจำวันศุกร์ ได้แก่ ปางรำพึง   </p>
          <p class="txt_head_chant">ลักษณะพระพุทธรูป</p>
          <p class="txt">: พระพุทธรูปอยู่ในพระอริยาบถยืน พระหัตถ์ทั้งสองประสานกัน
            ยกขึ้นประทับที่พระอุระ (อก) พระหัตถืขวาทับพระหัตถ์ซ้าย</p>
          <p class="txt_head_chant">ความเป็นมา</p>
          <p class="txt">: ภายหลังจากที่ตรัสรู้ได้ไม่นาน พระพุทธเจ้าซึ่งประทับอยู่ภายใต้ต้นไทร (อชปาลนโครธ)
            ก็ได้ทรงรำพึงพิจารณาถึงธรรมที่ตรัสรู้ว่าเป็นธรรมที่มีความละเอียดลึกซึ้ง
            ยากที่มนุษย์ปุถุชนจะรู้ตามได้ จึงเกิดความท้อพระทัยที่จะไม่สั่งสอนชาวโลก
            ด้วยรำพึงว่าจะมีใครสักกี่คนที่ฟังธรรมะของพระองค์เข้าใจ ร้อนถึงท้าวสหัมบดีพรหม
            ได้มากราบทูลอาราธนาเพื่อทรงแสดงธรรมว่าในโลกนี้บุคคลที่มีกิเลสเบาบาง
            
            พอฟังธรรมได้ยังมีอยู่ พระพุทธองค์ได้ทรงพิจารณาแล้วก็เห็นชอบด้วยอีกทั้งทรงรำพึง
            ถึงธรรมเนียมของพระพุทธเจ้าทั้งหลายแต่ปางก่อน ว่าตรัสรู้แล้วก็ย่อมแสดงธรรม
            โปรดสัตว์โลกเพื่อประโยชน์สุขแก่ชนทั้งปวง จึงได้น้อมพระทัยในอันที่จะแสดงธรรมต่อชาวโลก
            ตามคำอาราธนานั้น และตั้งพุทธปณิธานจะใคร่ดำรงพระชนม์อยู่จนกว่าจะได้ประกาศ
            พระพุทธศาสนา ให้แพร่หลายประดิษฐานให้มั่นคงสำเร็จประโยชน์แก่ชนนิกรทุกหมู่เหล่าต่อไป
            พระพุทธจริยาที่ทรงรำพึงถึงธรรมที่จะแสดงโปรดชนนิกรผู้เป็นเวไนยบุคคลนั้นแล
            เป็นเหตุให้สร้างพระพุทธรูปที่เรียกว่า ปางรำพึง
            
             </p>
            <p class="txt_head_chant">บทสวดมนต์บูชาพระประจำวันศุกร์</p>
            <p class="txt">ยัสสานุภาวะโต ยักขา เนวะ ทัสเสนติ ภิงสะนัง<br>
              ยัมหิ เจวานุยุญชันโต รัตตินทิวะมะตันทิโต<br>
              สุขัง สุปะติ สุตโต จะ ปาปัง กิญจิ นะ ปัสสะติ<br>
              เอวะมาทิคุณูเปตัง ปะริตตันตัมภะณามะ เห ฯ
            </p>
            <p class="txt_end">สวดวันละ 21 จบ จะมีความสุขสวัสดีตลอดกาลนาน</p>
        </ion-card>
      </ion-col>
    </ion-row>

<ion-content>

</ion-content>
